*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: black;
}


h1{
    /* border: 1px solid green; */
    color: white;
    text-align: center;
    margin: 20px;
    margin-top: 40px;
}

p{
    color: white;
}

#conteiner{
    /* border: 1px solid red; */
    font-family: "Inter", sans-serif;
    padding: 8px;
    max-width: 90vw;
    text-align: center;
    display: block;
    margin: auto;  
}



#images img {
    display: flex;
    width: auto;
    margin: auto;
    height: 200px;
    margin-top: 30px;
    border: 8px dotted rgb(83, 83, 83);
    padding: 4px;
    border-radius: 100px;
}


.content {
    /* border: 1px solid purple; */
    text-align: left;
    padding: 10px;
    display: flex;
   
    

}

#images p {
    margin-top: 8px;
    margin-bottom: 20px;
    color: rgb(171, 171, 171);
   
}
.description {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    
}

.button-instagram {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* deixa um embacado no elemento */

  text-decoration: none;
  font-weight: 500;
  margin: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.button-instagram {
    text-decoration: none;
    font-weight: 500;
    color: white
}

.button-instagram:hover{
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;
    color: #dcdcdc !important;
}

