h1{
    /* border: 1px solid green; */
    color: white;
    text-align: center;
    margin: 8px;
}

.conteiner{
    /* border: 1px solid red; */
    font-family: "Inter", sans-serif;
    padding: 8px;
    max-width: 90vw;
    text-align: center;

   
}

.images img {
    display: flex;
    width: auto;
    margin: auto;
    height: 300px;
}

.content {
    /* border: 1px solid purple; */
    text-align: left;
    padding: 10px;

}

body{
    background-color: black;
}

p{
    color: white;
}

.conteiner p{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;

}

.links {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px; 
    margin: 50px;
}

.links a{
    text-decoration: none;
    font-weight: 500;
    color: white
}