*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: black;
}


h1{
    /* border: 1px solid green; */
    color: white;
    text-align: center;
    margin: 8px;
}

p{
    color: white;
}

#conteiner{
    /* border: 1px solid red; */
    font-family: "Inter", sans-serif;
    padding: 8px;
    max-width: 90vw;
    text-align: center;
    display: block;
    margin: auto;  
}



#images img {
    display: flex;
    width: auto;
    margin: auto;
    height: 200px;
    margin-top: 30px;
    border: 8px dotted rgb(83, 83, 83);
    padding: 4px;
    border-radius: 100px;
}


.content {
    /* border: 1px solid purple; */
    text-align: left;
    padding: 10px;
    display: flex;
   
    

}

#images p {
    margin-top: 8px;
    margin-bottom: 20px;
    color: rgb(171, 171, 171);
   
}
.description {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    
}

.links {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px; 
    margin: 50px;
}

.links a{
    text-decoration: none;
    font-weight: 500;
    color: white
}